<div class="container-fluid">
    <app-header></app-header>
    <app-back-link></app-back-link>
    <h1 class="border-top border-light mt-2 text-center">Les commentaires de {{series.name}}</h1>
    <div *ngIf="comments.length == 0" class="row rounded rounded-lg border border-light m-3 py-2">
        <p>Il n'y a pas encore de commentaire sur cette série</p>
    </div>
    <div *ngFor="let comment of comments" class="row rounded rounded-lg border border-light m-3 py-2">
        <div class="col-1 ml-2"><fa-icon [icon]="faUser" size="7x"></fa-icon></div>
        <div class="col-8">
            <h3>{{comment.author}}</h3>
            <small>{{comment.date | date: 'dd/MM/yyyy à HH:mm'}}</small>
            <p>{{comment.content}}</p>
        </div>
        <div class="col-1 pt-3 offset-1"><button class="btn btn-danger" (click)="onDeleteCom(comment.id)"><fa-icon [icon]="faDelete"></fa-icon></button></div>
    </div>
</div>