.btnDelete:hover{
    background-color: #E6303D;
    border-color: #E6303D;
}

.btnInfo:hover{
    background-color: #5F7AE6;
    border-color: #5F7AE6;
}

.btnEdit:hover{
    background-color: #E69D58;
    border-color: #E69D58;
}