<th scope="row">{{id}}</th>
<td>{{name}}</td>
<td>{{date | date:'dd/MM/yyyy'}}</td>
<td>
    <a class="btn btn-dark btnInfo mr-3" [routerLink]="detailUrl">Détails   <fa-icon [icon]="faDetails"></fa-icon></a>
    <a class="btn btn-dark btnEdit mr-3" [routerLink]="editUrl">Modifier   <fa-icon [icon]="faEdit"></fa-icon></a>
    <a class="btn btn-dark btnInfo mr-3" [routerLink]="commentsUrl">Commentaires   <fa-icon [icon]="faComments"></fa-icon></a>
    <button class="btn btn-dark btnDelete mr-3" (click)="onDeleteSeries()">Supprimer   <fa-icon [icon]="faDelete"></fa-icon></button>
</td>