<nav class="navbar navbar-light bg-light d-flex justify-content-between mb-3">
    <div>
            <a class="navbar-brand" routerLink="/">Series manager</a>
            <a class="nav-item text-muted" routerLink="/series/add">Ajouter une série</a>
    </div>
    

<button type="button"
    class="btn btn-outline-danger"
    (click)="onSignOut()">Déconnexion <fa-icon [icon]="faDisconnect" class="ml-1"></fa-icon>
</button>
</nav>