<div class="container-fluid">
    <app-header></app-header>
    <app-back-link></app-back-link>
    <h1 class="border-top border-light mt-2 text-center">Ajouter une nouvelle série</h1>
    <form [formGroup]="addForm" (ngSubmit)="onAddForm()" class="mt-2">

        <div class="form-group">
            <label for="name">Nom de la série </label>
            <input type="text" class="form-control" name="name" placeholder="Nom de la série" formControlName="name">
        </div>
        <div class="form-row">
            <div class="form-group col-7">
                <label for="firstEpRelease">Date de sortie </label>
                <input type="date" class="form-control" name="firstEpRelease" formControlName="firstEpRelease">
            </div>
            <div class="form-group col-5">
                <label for="nbSeasons">Saison(s)</label>
                <input type="number" class="form-control" name="nbSeasons" formControlName="nbSeasons">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" formControlName="description" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="critic">Critique</label>
                <textarea class="form-control" name="critic" formControlName="critic" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="name">Lien vers l'image </label>
                <input type="text" class="form-control" name="imageLink" placeholder="Lien vers l'image"
                    formControlName="imageLink">
            </div>
        </div>
        <button class="btn btn-dark" type="submit" [disabled]="addForm.invalid">
            Ajouter
        </button>

    </form>
    
</div>