<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
  
          <h5 class="card-title text-center">Connexion</h5>
  
          <div *ngIf="errorMsg" class="text-center text-danger m-1">{{errorMsg}}</div>
  
          <form class="form-signin"
                #f="ngForm"
                (ngSubmit)="onSignIn(f)">
  
            <input type="text"
                   id="inputUsername"
                   class="form-control"
                   placeholder=""
                   name="username"
                   required
                   ngModel
                   autofocus>
            <br>
            <input type="password"
                   id="inputPassword"
                   class="form-control"
                   placeholder="Mot de passe"
                   name="password"
                   ngModel
                   required>
            <br>
            <button class="btn btn-lg btn-dark btn-block text-uppercase"
                    type="submit"
                    [disabled]="f.invalid">
              Me connecter
            </button>
  
          </form>
  
        </div>
      </div>
    </div>
  </div>