<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr 
      *ngFor="let s of series" 
      app-single-series-row
      [id]="s.id"
      [name]="s.name"
      [date]="s.firstEpisodeRelease">
        
      </tr>
    </tbody>
  </table>