.series-info{
    width: 100%; 
    min-height: 300px;
}

.series-info > .row{
    min-height: inherit;
    box-shadow: 7px 5px 10px -1px rgba(181,181,181,1);
    border: transparent;
}

.series-img{
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: auto;
}

