<div class="container-fluid">
    <app-header></app-header>
    <app-back-link></app-back-link>
        <div class="series-info">
            <div class="row no-gutters">
                <div class="col-2 series-img border-left border-light" [ngStyle]="{'background-image': getUrlBgImg()}">
                </div>
                <div class="col-9 pl-3">
                    <h1 class="card-title">{{series.name}}</h1>
                    <h4 class="card-subtitle text-muted mb-2">Premier épisode : {{series.firstEpisodeRelease | date:'dd/MM/yyyy'}}</h4>
                    <h4 class="card-subtitle text-muted mb-2">Nombre de saison(s) : {{series.nbSeasons}}</h4>
                    <h3 class="mt-1"><fa-icon [icon]="faVideo" size="xs"></fa-icon> Synopsis</h3>
                    <p>{{series.description}}</p>
                    <h3 class="mt-2"><fa-icon [icon]="faTicket" size="xs"></fa-icon> Critique</h3>
                    <p>{{series.critic}}</p>
                </div>
            </div>
        </div>
        <h3 class="mt-2"><fa-icon [icon]="faComments" size="xs"></fa-icon> Commentaires</h3>
        <div class="ml-3 shadow-sm rounded">
            <p *ngIf="series.comments.length == 0">Il n'y a aucun commentaire pour l'instant</p>
            <div *ngFor="let comment of series.comments">
                <h4><fa-icon [icon]="faUser" size="xs"></fa-icon> {{comment.author}}</h4>
                <small>{{comment.date | date: 'dd/MM/yyyy à HH:mm'}}</small>
                <p>{{comment.content}}</p>
            </div>
        </div>
</div>